[*.cs]

indent_style=space
end_of_line=crlf

# CS1591: Missing XML comment for publicly visible type or member
dotnet_diagnostic.CS1591.severity = none

# S3358: Ternary operators should not be nested
dotnet_diagnostic.S3358.severity = none

csharp_style_namespace_declarations=file_scoped:warning

# CA1068: CancellationToken parameters must come last
dotnet_diagnostic.CA1068.severity = warning

# CA2250: Use ThrowIfCancellationRequested
dotnet_diagnostic.CA2250.severity = warning

# CA2016: Forward the CancellationToken parameter to methods that take one
dotnet_diagnostic.CA2016.severity = warning

# IDE0040: Add accessibility modifiers
dotnet_diagnostic.IDE0040.severity = warning