nav {
	text-transform: uppercase;
	font-size: 1em;
    position: absolute;
    top: 12px;
    right: 0;

	a {
		margin: 0 3px;
		padding: 20px 10px;
		border-bottom: 1px solid rgba(255,255,255,0);
		color: rgba(255,255,255,.8);
		transition: .2s ease-in-out;
        display: inline;
        padding: 10px;
	}

	a:hover {
		border-bottom: 1px solid rgba(255,255,255,.3);
		color: #fff;
	}

	a.active {
		color: #fff;
	}
}
