---
layout: page
---

<div class="text-container">
	{% assign blog = site.pages | where: "path", "blog/index.html" | first %}

	{% if blog.title %}
		<h2>{{ blog.title }}</h2>
	{% endif %}

	{% if blog.description %}
		<p class="subtext">{{ blog.description }}</p>
	{% endif %}

	<div class="center-text">
		<span class="blog-filter cross"><a href="{{ site.baseurl }}/blog/">{{ page.title | capitalize }}</a></span>
	</div>

	<ul class="blog-posts">
		{% include list-posts.html posts=page.posts %}
	</ul>
</div>
